{{> book-tabs route="topBooks"}}
<h1>人氣書籍</h1>
<hr>
<div class="row justify-content-md-center">
  <div class="col-6">
    {{#each books}}
    <div class="card bg-white mt-3">
      <div class="card-body row">
        <div class="col">
          <img src="{{this.image}}">
        </div>
        <div class="col">
          <h5 class="card-title">{{this.name}}</h5>
          <span class="bg-secondary badge">收藏數: {{this.favoritedCount}}</span>
          <p class="card-text">
            {{this.description}}
          </p>
          <div class="d-flex">
            <a class="btn btn-outline-primary m-1" href="/books/{{this.id}}">Show</a>
            {{#if this.isFavorited}}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-danger m-1">取消收藏</button>
            </form>
            {{else}}
            <form action="/favorite/{{this.id}}" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-primary m-1">收藏</button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>