<div class="row">
  <div class="col-md-12">
    <h1>{{experience.Book.name}}</h1>
    <p>[{{experience.Book.Category.name}}]</p>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{experience.Book.image}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>作者:</strong> {{experience.Book.author}}</li>
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <h2>心得</h2>
    <p style="white-space: break-spaces;">{{experience.text}}</p>
    {{#if isHimself}}
    <div class="d-flex">
      <a href="/experiences/{{experience.id}}/edit" class="btn btn-primary m-1">編輯</a>
      <form action="/experiences/{{experience.id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger m-1">刪除</button>
      </form>
    </div>
    {{else}}
      {{#if user.isAdmin}}
      <form action="/experiences/{{this.id}}?_method=DELETE" method="POST">
        <button class="btn btn-danger m-1">刪除</button>
      </form>
      {{/if}}
    {{/if}}
  </div>
  <hr>
</div>
<a class="btn btn-outline-secondary" href="/users/{{experience.userId}}/experiences">返回</a>