<h1>讀書心得</h1>
{{#if isHimself}}
<div class="m-2">
  <a href="/experiences/create" class="btn btn-primary">建立心得</a>
</div>
{{/if}}

<div class="row mt-3">
  {{#each experiences}}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <a href="/experiences/{{this.id}}">
        <img class="card-img-top img-fluid" src="{{this.Book.image}}" alt="Card image cap" width="286px" height="180px"
          style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      </a>
      <div class="card-body">
        <p class="card-text">
          <a href="/experiences/{{this.id}}">
            {{this.Book.name}}
          </a>
        </p>
        <span class="badge bg-secondary">{{this.Book.Category.name}}</span>
        <p class="card-text text-truncate">{{this.text}}</p>
        <div class="d-flex">
          <a href="/experiences/{{this.id}}" class="btn btn-primary m-1">Show</a>
          {{#if ../isHimself}}
          <a href="/experiences/{{this.id}}/edit" class="btn btn-primary m-1">編輯</a>
          <form action="/experiences/{{this.id}}?_method=DELETE" method="POST">
            <button class="btn btn-danger m-1">刪除</button>
          </form>
          {{else}}
            {{#if ../user.isAdmin}}
              <form action="/experiences/{{this.id}}?_method=DELETE" method="POST">
                <button class="btn btn-danger m-1">刪除</button>
              </form>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>